/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-section{
   position: relative;

   @media screen and (min-width: 768px) {
      min-width: 1280px;
   }
}