/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.index-mv {
   height: 61.06667vw;
   padding: 0 60px;

   &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 56vw;
      background: #f5f5f5;

      &-copy {
         position: absolute;
         left: 60px;
         top: 20%;
         width: 34.26667vw;
         height: 32.6vw;
      }
   }

   &__bg-wave {
      position: absolute;

      &--right-top{
         right: 0;
         top: 0;
         width: 18.86667vw;
         height: 24.53333vw;
      }

      &--left-bottom {
         left: 0;
         bottom: 0;
         width: 547px;
         height: 338px;
     }
   }

   &__body {
      position: relative;
      height: 100%;
   }

   &__ill {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 64.6vw;
      height: 53.8vw;
   }

   &__content {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-37%);
      transform: translateY(-37%);
      margin-left: 31px;
   }

   &__copy {
      margin-bottom: 78px;

      &-en {
         display: block;
         width: 418px;
         height: 130px;
         margin-bottom: 45px;
      }

      &-ja {
         display: block;
         width: 239px;
         height: 108px;
      }
   }
}

.mv-lottie {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}